streamlit
asyncio
pydantic~=2.10.6
aiohttp
openai~=1.66.5
fastmcp
python-dotenv
beautifulsoup4~=4.13.3
pandas~=2.2.3
numpy
matplotlib
plotly
nltk
tomli
mcp~=1.5.0
tiktoken~=0.9.0
tenacity~=9.0.0
loguru~=0.7.3
reportlab
googlesearch-python~=1.3.0
baidusearch~=1.0.3
duckduckgo_search~=7.5.3
requests~=2.32.3
duckduckgo-search~=7.5.5
efinance~=0.5.5.2
akshare~=1.16.87
